.sobre-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.paragrafo {
  background-color: #ffff;
  border-radius: 6px;
  padding: 20px;
}

.content-container {
  display: flex;
  align-items: center;
}

.imagem-3d {
  width: 80%;
  transform: perspective(1000px) rotateY(-10deg);
  transition: transform 0.5s ease;
  animation: moveImage 10s infinite linear;
}

@keyframes moveImage {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  50% {
    transform: perspective(1000px) rotateY(180deg);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg);
  }
}

@media (max-width: 768px) {
  .sobre-container {
    max-width: 100%;
  }

  .content-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagem-container {
    width: 100%;
  }
}
